# local personas, mcp servers, and other local JAI configuration
.jupyter/

*.egg-info
build/
.python-version

# explicitly ignore uv.lock
# this is a dev repo & doesn't need a committed lockfile
uv.lock

# ignore .venv added by `uv sync`
.venv

# ignore .env file used to save API keys
.env

# ignore .chat / .ipynb files created during testing
*.chat
**/*.chat
*.ipynb
**/*.ipynb
