[submodule "jupyter-ai-router"]
	path = jupyter-ai-router
	url = git@github.com:jupyter-ai-contrib/jupyter-ai-router.git
[submodule "jupyter-ai-persona-manager"]
	path = jupyter-ai-persona-manager
	url = git@github.com:jupyter-ai-contrib/jupyter-ai-persona-manager.git
[submodule "jupyter-ai-litellm"]
	path = jupyter-ai-litellm
	url = git@github.com:jupyter-ai-contrib/jupyter-ai-litellm.git
[submodule "jupyter-ai-chat-commands"]
	path = jupyter-ai-chat-commands
	url = git@github.com:jupyter-ai-contrib/jupyter-ai-chat-commands.git
[submodule "jupyterlab-commands-toolkit"]
	path = jupyterlab-commands-toolkit
	url = git@github.com:jupyter-ai-contrib/jupyterlab-commands-toolkit.git
[submodule "jupyter-ai-jupyternaut"]
	path = jupyter-ai-jupyternaut
	url = git@github.com:jupyter-ai-contrib/jupyter-ai-jupyternaut.git
[submodule "jupyter-server-documents"]
	path = jupyter-server-documents
	url = git@github.com:jupyter-ai-contrib/jupyter-server-documents.git
[submodule "jupyter-chat"]
	path = jupyter-chat
	url = git@github.com:jupyterlab/jupyter-chat.git
[submodule "jupyter-ai-claude-code"]
	path = jupyter-ai-claude-code
	url = git@github.com:jupyter-ai-contrib/jupyter-ai-claude-code.git
[submodule "jupyter-ai-acp-client"]
	path = jupyter-ai-acp-client
	url = git@github.com:jupyter-ai-contrib/jupyter-ai-acp-client.git
[submodule "jupyter-server-mcp"]
	path = jupyter-server-mcp
	url = git@github.com:jupyter-ai-contrib/jupyter-server-mcp.git
[submodule "jupyter-ai-tools"]
	path = jupyter-ai-tools
	url = git@github.com:jupyter-ai-contrib/jupyter-ai-tools.git
[submodule "jupyter-ai"]
	path = jupyter-ai
	url = git@github.com:jupyterlab/jupyter-ai.git
[submodule "jupyter-ai-magic-commands"]
	path = jupyter-ai-magic-commands
	url = git@github.com:jupyter-ai-contrib/jupyter-ai-magic-commands.git
